<!doctype html>
{% load static %}

<html>
<head>
	<link href="{% static 'css/HOME.css' %}" rel="stylesheet">
	<title> iamsg </title>


	<script>
	/*
	setTimeout(p,3000);
	function wakeUp(){
		alert("are you awake?");
	}
	function prr(){
		prompt('this is it','type here');
	}*/
	</script>
</head>

<body>
<!--top navbar -->
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">MyGraph</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
<!-- logo image-->
<p><img id="logo1" src="image/cedarsg1farsi.jpg"> </p>
<!--side nav -->
<div class="sidenav">
  <a href="#contact">beginning</a>
  <a href="#about">problem solving</a>
  <a href="#services">algorithm</a>
  <a href="#clients">machin learning</a>
  <a href="#contact">images processing</a>
  <a href="#contact">signals</a>
  <a href="#contact">images & signals</a>

</div>


<!-- -->
<p>&emsp;&emsp;&emsp;<pre></p>
<p>&emsp;&emsp;&emsp;<pre></p>

<p id = "obj"><img id="tree1" src = "image/tree2.jpg"> its about your diligence </p>

<p>&emsp;&emsp;&emsp;<pre>&emsp;&emsp; </p>

<p id = "obj">Planning your goals &emsp;&emsp;&emsp;&emsp; &emsp; <img id="tree2" src = "image/tree1.jpg">  </p>
<p>&emsp;&emsp;&emsp;<pre>&emsp;&emsp; </p>
<p>&emsp;&emsp;&emsp;<pre>&emsp;&emsp; </p>
<p>&emsp;&emsp;&emsp;<pre>&emsp;&emsp; </p>

<p id = "other">
برنامه نویسی چیزی جز درخواست و اجرا نیست 
این وبلاگ برای کمک به شما و اندوخته ای از علم های یادگرفته شده است
شروع کردن دشمن خلاقیت است، یعنی هر کاری در مرحله اول بسیار سخت است
حسین سرگلی هستم ارشد مهندسی دارم به واسطه پایان نامم با برنامه نویسی آشنا شدم
و در زمینه بینایی کامپیوتر پروژه ای انجام دادم
بینایی کامپیوتر از دو بخش شکل گرفت
oooooooooooooooo
oooooooooooooooo
oooooooooooooooo</p>
<!-- LIST 
<ul>
	<li> past </li>
	<li>present</li>
	<li>futur </li>
	<li> Ml </li>
	<li> dl </li>
	<li> algorithm </li>
</ul>
-->
<footer>

<p id = "about"> <a href = "other/about2.php"> about me </a></p>
<p> go <a href = "http://www.google.com" title = "this is google" target="_blank"> gggg</a> ok i like this </p>
<p> gossss <a href = "http://www.google.com" title = "this is google" target="_blank"><img src="image/gg.jpg"> </a></p>
<p> game 1 <a href= "other/game1.php"> here </a></p>
</footer>

</body>


</html>