{% extends 'base.html' %}
{% block content %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

</head>
<body>
<div id="wrapper">
<header id="header">

</header>
<aside id="leftsidebar">
<nav id="nav">
<ul><li>Menu 1</li><li>Menu 2</li><li>Menu 3</li></
ul>
</nav>
</aside>
<section id="main">

 <h1>Welcome!</h1>
 <p>This is the site template</p>

</section>
<footer id="footer">Copyright Design</footer>

</div>
<h1>About page</h1>
{% endblock content %}
</body>
</html>


